<% action = (band.persisted? ? band_url(band) : bands_url) %>
<% method = (band.persisted? ? :patch : :post) %>

<form action="<%= action %>" method="post">
  <input type="hidden" name="_method" value="<%= method %>">

  <label for="band">Band Name</label>
  <input type="text" name="band[name]" value=" <%= band.name.nil? ? "" : band.name %> ">

  <input type="submit" value="submit">
</form>
